@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-pricing {
    background:
      linear-gradient(to bottom right, #131B3C, #0B011A) padding-box,
      linear-gradient(344.98deg, #626b923a, #626B92) border-box;

    border: 1px solid transparent;
  }

  .card-pricing-highlighted {
    background:
      linear-gradient(to bottom right, #2e2b2b, #211F1F) padding-box,
      linear-gradient(to bottom right, #B5AFF6, #5749DF) border-box;

    border: 4px solid transparent;
  }
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  --foreground-rgb: #252525;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--foreground-rgb);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}